*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 10vh 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204);
    padding: 5vh 5vw;
    width: 70vw;
    height: 70vh;
}

.body input{
    margin:10px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 236, 236);
    text-align: left;
    /* color:white; */
    padding: 0 10px;
    

    


}

.body .btn{
    background-color: rgb(0, 0, 0);
    width: 100px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.06rem;
    color: white
    ;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.body .btn:hover{
    background-color: rgb(70, 69, 69);
}

.body h1{
    position: absolute;
    top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 145, 0);

}

.body h3{
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    /* top: 30vh; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

.signup{
    margin: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
    ;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3%;
}


.signin{
    border-radius: 10%;
    margin: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
    ;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

}


.signup:hover{
background-color: aliceblue;
/* border-radius: 2px; */
padding: 5px;
}

.signin:hover{
    background-color: aliceblue;
    /* border-radius: 2px; */
    padding: 5px;
    }